@import '../_colors';

.Container {
    flex: 1 1 45%;
    min-width: 300px;
    display: flex;
    padding: 10px;
    > div {
        flex: 1 0 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Icons {
        font-size: 3rem;
        color: rgb(34, 80, 219);
    }

    h2 {
        font-family: 'Open Sans', monospace;
        color: $headers-gray;
    }
    p {
        font-size: 2rem;
        font-family: 'Open Sans', monospace;
    }
}

.positiveCounter {
    color: $green;
}

.negativeCounter {
    color: $red;
    font-weight: bold;
}

.evenCounter {
    color: $even;
}

