@import '../_colors';

.List {
    flex: 1 1 45%;
    min-width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow: auto;
    .Title {
        flex: 0 1 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        font-family: 'Open Sans', monospace;
        color: $headers-gray;
        > * {
          flex: 0 0 110px;  
        }
    }
}

.Card {
    border-bottom: 1px solid $red;
    flex: 0 1 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        font-size: 1.3rem;
        color: $red;
        flex: 0 1 200px;
    }
    .ButtonWrapper {
          width: 100px;
        * {
            margin: auto 5px;
            font-size: 1.5rem;
            opacity: 0.9;
        }
        *:hover {
           cursor: pointer;
           opacity: 1;
        }
        .editBtn {
            color: $blue-btn;
        }
        .deleteBtn {
            color: red;
        } 
    }
}